## Which product category and location should we target for our next ad campaign?

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# Run this cell to import the sales dataset
data_url = 'https://raw.githubusercontent.com/datastray/python_project/main/sales_data.csv'
df = pd.read_csv(data_url)

# View first 5 rows of the dataset
df.head()

,transaction_ID,date,product_category,product_name,units_sold,unit_price,total_revenue,location
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_ID    245 non-null    int64
 1   date              245 non-null    object
 2   product_category  245 non-null    object
 3   product_name      245 non-null    object
 4   units_sold        245 non-null    int64
 5   unit_price        245 non-null    float64
 6   total_revenue     245 non-null    float64
 7   location          245 non-null    object
dtypes: float64(2), int64(2), object(4)
memory usage: 15.4+ KB

In [ ]:
# product category revenue totals
total_revenue_by_category=df.groupby('product_category')['total_revenue'].sum()
total_revenue = df['total_revenue'].sum()
total_revenue_category_percent= (total_revenue_by_category/total_revenue)*100
total_revenue_category_percent

product_category
Beauty Products    0.000314
Books              0.000223
Clothing           0.000974
Electronics        0.004537
Home Appliances    0.002235
Sports             0.001717
Name: total_revenue, dtype: float64